@model Library.Domain.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h2>مشاهده جزئیات</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublisherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublisherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ISBNNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISBNNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookVisit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookVisit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd>
            <img src="~/contents/BookImages/@Model.ImageName" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowInSlider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowInSlider)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookGroup.GroupTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookID">ویرایش صفحه</a> |
    <a asp-action="Index">بازگشت به لیست</a>
</div>
