@model Library.Domain.Models.Book
@using Library.Domain.Convertor
@{
    ViewData["Title"] = "Details";
}

<h2>مشاهده جزئیات</h2>


<div class="col-md-12 col-sm-12 col-xs-12 pull-left">
    <hr />
    <ul>
        <p>
            <img class="border-radius col-md-2 col-sm-2 col-xs-2" src="~/contents/BookImages/@Model.ImageName" alt="@Model.BookName" />
        </p>
        <p>
            @Html.DisplayNameFor(model => model.BookName) : @Html.DisplayFor(model => model.BookName)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.ShortDescription) : @Html.DisplayFor(model => model.ShortDescription)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Author) : @Html.DisplayFor(model => model.Author)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.PublisherName) : @Html.DisplayFor(model => model.PublisherName)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.ISBNNumber) : @Html.DisplayFor(model => model.ISBNNumber)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Price) : @Html.DisplayFor(model => model.Price)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.BookVisit) : @Html.DisplayFor(model => model.BookVisit)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.ShowInSlider) : @Html.DisplayFor(model => model.ShowInSlider)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.PublishYear) : @Model.PublishYear.ToShamsi()
        </p>
    </ul>
</div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.BookID" class="btn btn-sm btn-warning">ویرایش صفحه</a>
        <div>
            <a asp-action="Index">بازگشت به لیست کتاب ها</a>
        </div>
    </div>
