@model IEnumerable<Library.Domain.Models.Book>


@{
    ViewData["Title"] = "Index";
}

<h2>کتاب ها</h2>

<p>
    <a asp-action="Create" class="btn btn-success px-5">ایجاد یک کتاب جدید</a>
</p>
<table class="table col-md-9">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="~/contents/BookImages/@item.ImageName" class="img-thumbnail" style="max-width:120px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @item.PublishYear.ToShamsi()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookID" class="btn btn-sm btn-warning">ویرایش</a>
                <a asp-action="Details" asp-route-id="@item.BookID" class="btn btn-sm btn-info">مشاهده</a>
                <a asp-action="Delete" asp-route-id="@item.BookID" class="btn btn-sm btn-danger">حذف</a>
            </td>
        </tr>
        }
    </tbody>
</table>
