@model IEnumerable<Library.Domain.Models.User>
@using Library.Domain.Convertor
@{
    ViewData["Title"] = "کاربران";
}

<h1>لیست کاربران</h1>

<p>
    <a asp-action="Create" class="btn btn-success px-5">
        افزودن کاربر
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @if (item.Role == "admin")
                    {
                        <span class="badge badge-warning rounded-pill p-2">ادمین</span>
                    }
                    else
                    {
                        <span class="badge badge-info rounded-pill p-2">کاربر عادی</span>
                    }
                </td>
                <td>
                    @item.RegisterDate.ToShamsi()
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">ویرایش</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">مشاهده</a>
                    @if (item.Role != "admin")
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">حذف</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
